@model IEnumerable<YungChing.Models.houseSheet>

@{
    ViewBag.Title = "mainPage";
}

@if (Session["uname"] != null)
{
    <script>
        document.getElementById("userName").innerHTML = "@Session["uname"]"
        document.getElementById("IMG").src = "@Session["uphoto"]"
    </script>
}

    <div style="text-align:right;margin-bottom:10px;">
        <h4 id="userName"></h4>
        <img id="IMG" src="" style="width:40px;height:40px;border-radius:999em;" />
    </div>

    <table class="table">
        <tr>
            <th style="vertical-align: middle; text-align:center;">
                建案名稱
            </th>
            <th style="vertical-align: middle; text-align:center;">
                外觀照片
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="vertical-align: middle; text-align:center;">
                    @Html.DisplayFor(modelItem => item.hName)
                </td>
                <td style="vertical-align: middle; text-align:center;">
                    <img src="@item.hPhoto" style="width:150px;height:150px;">
                </td>
                <td style="vertical-align: middle; text-align:center;">
                    @Html.ActionLink("詳細資料", "detail", "main", new { id = item.hId.ToString() }, null)
                </td>
            </tr>
        }
    </table>
